@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  background-image: url('public/images/Background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
}

#root {
  font-family: 'Montserrat', sans-serif;
  color: rgb(64, 64, 64);
  width: 100%;
  min-height: 735px;
  margin: 0 auto;
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0;
}
