
/* Form de Busca */
#pesquisa-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px 0px 20px 30px;
}

form{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content:space-around;
  gap: 50%;
}
input{
  color: rgb(50, 50, 50);
  width: 250px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  text-align: center;

}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600; 
    font-family: inherit;
    cursor: pointer;
    border: none;
    color: white; 
}

#btn-busca{
    width: 100px;
    background-color: #1900ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px ;
}
#btn-busca:hover{
    background-color: rgb(0, 0, 255);
}
#btn-busca:active{  
      transform: translateX(-2px);
}
#btn-busca-random{
    width: 50px;
    height: 40px;
    background-color: #1900ff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
  }
#btn-busca-random:hover{
    background-color: rgb(0, 0, 255);
}
#btn-busca-random:active{  
      transform: translateX(2px);
}

/* Cards das Bandeiras */
#card{
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
}

#div-card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}
a{
  text-decoration: none;
  color: rgb(81, 81, 81);
}
a:hover{
  text-decoration: underline;
  color: rgb(4, 0, 34);
}

#flag-img{
  border-radius: 5px;
  border: 2px rgb(233, 233, 233) solid;
  height: 150px;
  margin-top: 20px;
}

#span-card{
  width: 40%;
  display: flex;
  flex-direction: row;
}
#div1{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}
span{
  display: flex;
  justify-content: start;
  width: 100%;
  text-align: start;
}
hr{
  border: 1px dashed lightgray
}

#container-card-completo{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#card-completo{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border: 1px rgb(0, 188, 0) solid;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  width: 60%;
}
#div-mapa{
  display: flex;
  flex-direction: column;
  
}
#img-mapa{
  border: 1px solid   rgb(233, 233, 233);
  border-radius: 5px;
  margin-top: 20px;
}

/* Botões do Card */

#btn-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
#edit-btn, #del-btn{
  align-items: start;
  margin: 30px 10px 5px 10px;
  width: 120px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#edit-btn{
  background-color: rgb(255, 182, 46);
}
#edit-btn:hover {
    background-color: rgb(255, 160, 0);
}
#edit-btn:active, #del-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#del-btn{
  background-color: rgb(255, 52, 52);
}
#del-btn:hover {
    background-color: rgb(200, 0, 0);
}

/* Icones dos Botões do Card */

#icon-edit-png, #icon-del-png{
  margin-right: 5px;
}
#icon-edit-png{
  margin-left: 5px;
  width: 20px;
}
#icon-del-png{
  width: 22px;
 }
