#root {
  min-width: 1480px;
  min-height: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url('images/Background.png');
  background-size: contain;
}

#div-card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
}
#card{
  margin-top: 20px;
  border: 1px black solid;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  width: 320px;
}
#flag-img{
  border-radius: 5px;
  max-height: 200px;
  border: 2px rgb(233, 233, 233) solid;
  text-align: center;
}
#span-card{
  width: 40%;
  display: flex;
  flex-direction: row;
}
#div1{
  width: 100%;
  display: flex;
  flex-direction: row;
}
span{
  display: flex;
  justify-content: start;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}
input{
  color: white;
  width: 200px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align: center;
}
hr{
  border: 1px dashed lightgray
}
#btn-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#edit-btn, #del-btn{
  align-items: start;
  margin: 30px 10px 5px 10px;
  width: 120px;
}
#edit-btn, #del-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
}
#edit-btn{
  background-color: green;
}
#del-btn{
  background-color: red;
}
#icon-edit-png, #icon-del-png{
  margin-right: 5px;
}
#icon-edit-png{
  margin-left: 5px;
  width: 20px;
}
#icon-del-png{
  width: 22px;
 }
